body {
    padding-left: 630px;
  }
  @media(max-width:1550px) {
    body {
      padding-left: 540px;
    }
  }
  @media(max-width:1199px) {
    body {
      padding-left: 260px;
    }
  }
  @media(max-width:991px) {
    body {
      padding-left: 0;
    }
  }